<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
          {{>header}}
        <h3>{{title}}</h3>
        <p>Created by {{name}}</p>
    </body>
</html>